{
  "parser": "typescript",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml"
      }
    }
  ]
}